/*CSS*/
/*font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#ppal {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  height: 100vh;
  background-image: url(../img/comida-ingredientes.png);
  background-size: cover;
}

#ppal-pages {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  height: 100vh;
  background-image: url(../img/comida-ingredientes-fondo-dos.png);
  background-size: cover;
}

#ppal-pages-sobre-nosotros {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  height: 100vh;
  background-image: url(../img/vista-superior-tazon-lentejas-dos.png);
  background-size: cover;
}

header {
  grid-area: header;
  padding-top: 0px;
  padding-bottom: 0px;
}

main {
  grid-area: main;
  row-gap: 10px;
  column-gap: 10px;
  padding: 20px 20px 60px 20px;
}

.main-recomendados {
  display: flex;
}

.section-destacados {
  display: flex;
  justify-content: space-around;
  row-gap: 10px;
  column-gap: 10px;
}

h1 {
  padding-top: 40px;
  padding-bottom: 45px;
  margin: 20px 20px 20px 20px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  color: rgb(255, 255, 255);
  opacity: 100%;
}

h2 {
  text-align: left;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  text-align: left;
  color: rgb(255, 255, 255);
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.titulo-destacados {
  padding-top: 20px;
  padding-bottom: 30px;
}

.titulos-secciones {
  padding-top: 40px;
  padding-bottom: 45px;
  margin: 20px 20px 20px 20px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.titulo-home {
  font-size: 60px;
  padding-left: 900px;
  padding-top: 120px;
  padding-bottom: 0px;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
  color: rgb(255, 255, 255);
}

.subtitulo-home {
  font-size: 15px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-right: 10px;
  margin-left: 900px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: lighter;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.8px);
  -webkit-backdrop-filter: blur(1.8px);
}

.btn-home {
  display: flex;
  justify-content: right;
  padding-right: 160px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

.titulo-contacto {
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.carousel-inner {
  padding: 5px 5px 5px 5px;
}

.carousel-index {
  display: flex;
  justify-content: center;
}

.subtitulo-carousel {
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

.carousel-inicio {
  background: rgba(102, 76, 76, 0.21);
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(102, 76, 76, 0.1);
}

.card-title {
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 5px;
}

.enlaces-card {
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: bolder;
  color: rgb(204, 153, 0);
}

.enlaces-card:hover {
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: bolder;
  color: rgb(255, 102, 51);
}

.card-text {
  text-align: justify;
  font-weight: lighter;
  color: rgb(62, 54, 54);
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
}

.card-recomendados {
  width: 400px;
  height: max-content;
  background-size: cover;
  padding-bottom: 40px;
}

/* SECCION SOBRE NOSOTROS */
.presentacion-sobre-nosotros {
  color: rgb(255, 255, 255);
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  background: rgba(147, 136, 136, 0.21);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(63, 58, 58, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px none rgba(102, 76, 76, 0.024);
  font-size: 25px;
}

.presentacion-sobre-nosotros-cards {
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
  background: rgba(147, 136, 136, 0.21);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(63, 58, 58, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px none rgba(102, 76, 76, 0.024);
}

.img-fluid rounded-start {
  width: max-content;
  height: max-content;
}

.enlace-uno {
  color: rgb(204, 153, 0);
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  text-decoration: dotted;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
}

.enlace-dos {
  color: rgb(204, 153, 0);
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  text-decoration: dotted;
  font-weight: bold;
}

.enlace-dos:hover {
  color: rgb(255, 102, 51);
}

.enlace-uno:hover {
  color: rgb(255, 102, 51);
}

ol {
  color: rgb(204, 153, 0);
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
}

li:hover {
  color: rgb(255, 102, 51);
}

#enlace-tres {
  color: rgb(255, 255, 255);
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  text-decoration: dotted;
  font-weight: bold;
}

#enlace-tres:hover {
  color: rgb(255, 102, 51);
}

#enlace-tres:hover {
  color: rgb(255, 102, 51);
}

#presentacion-gonzalez {
  width: 30%;
  border-radius: 5%;
}

#presentacion-perez {
  width: 30%;
  border-radius: 5%;
}

#presentacion-rodriguez {
  width: 30%;
  border-radius: 5%;
}

.paragraph-two {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 250px;
}

.paragraph-three {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(102, 76, 76, 0.21);
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(102, 76, 76, 0.1);
}

.enlace-contacto {
  list-style-type: none;
}

.enlace-ubicacion {
  list-style-type: none;
}

iframe {
  padding: 10px 10px 10px 10px;
  margin: auto;
}

.btn {
  background-color: rgb(255, 102, 51);
  border-color: rgb(255, 102, 51);
  margin-left: 70px;
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 102, 51);
}

.enlace-dos-home {
  color: rgb(255, 255, 255);
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  text-decoration: dotted;
  font-weight: bold;
}

.enlace-dos-home:hover {
  color: rgb(255, 102, 51);
}

@media only screen and (max-width: 576px) {
  #ppal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header" "main" "footer";
    background-image: url(../img/vista-superior-tazon-lentejas-variedad-condimentos.png);
  }
  #ppal-pages-sobre-nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
    background-image: url(../img/vista-superior-tazon-lentejas-dos.png);
    background-attachment: fixed;
    opacity: 90%;
  }
  .titulo-home {
    font-size: 50px;
    padding-left: 20px;
    padding-top: 200px;
    padding-bottom: 0px;
    justify-content: left;
    font-family: "Ubuntu", sans-serif;
    font-weight: bolder;
    color: beige;
  }
  .subtitulo-home {
    font-size: 15px;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .btn-home {
    display: flex;
    justify-content: right;
    padding-right: 160px;
    padding-top: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
  }
  .carousel-index {
    flex-direction: column;
  }
  .main-recomendados {
    grid-area: main;
    flex-direction: column;
    align-items: center;
  }
  .section-destacados {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .paragraph-two {
    flex-direction: column;
    padding: 10px;
    margin: 10px;
  }
  footer {
    padding-left: 10px;
  }
}
#navbarNavAltMarkup {
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  font-size: 16px;
}

.formulario {
  justify-content: center;
  align-items: left;
}

label {
  text-align: left;
  color: rgb(255, 255, 255);
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  padding: 10px 10px 20px 10px;
}

.parrafo-formulario {
  text-align: left;
  color: rgb(255, 255, 255);
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
}

textarea {
  padding: 10px 10px 10px 10px;
}

footer {
  grid-area: footer;
  display: flex;
  padding-bottom: 8px;
  padding-left: 150px;
  flex-direction: column;
  align-items: center;
}

.enlace-footer {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
