// COLORES 

$rosa-enlaces: rgb(255, 102, 51);
$mostaza-enlaces: rgb(204, 153, 0);
$blanco: rgb(255, 255, 255);

//FUENTES

$fuente-primaria: 'Ubuntu', sans-serif;
$fuente-secundaria: 'Montserrat', sans-serif;