@media only screen and (max-width:667px) {
    #ppal {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header"
            "main"
            "footer";
        background-image: url(../img/vista-superior-tazon-lentejas-variedad-condimentos.png);
    }

    #ppal-pages-sobre-nosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header"
            "main"
            "footer";
        height: 100vh;
        background-image: url(../img/vista-superior-tazon-lentejas-dos.png);
        background-attachment: fixed;
        opacity: 90%;
    }

    .titulo-home {
        font-size: 35px;
        padding-left: 5px;
        padding-top: 200px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        justify-content: center;
        font-family: $fuente-primaria;
        font-weight: bolder;
        color: beige;
    }

    .subtitulo-home {
        font-size: 15px;
        margin: 0px;
        margin-top: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        display: flex;
        justify-content: center;
    }

    .btn-home {
        display: flex;
        justify-content: center;
        padding-right: 20px;
        padding-top: 10px;
        font-family: $fuente-primaria;
        font-weight: bold;
    }

    .card-recomendados {
        width: 300px;
    }

    .main-recomendados {
        grid-area: main;
        flex-direction: column;
        align-items: center;
    }

    .section-destacados {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .paragraph-two {
        flex-direction: column;
        padding: 10px;
        margin: 10px;
    }

    .footer-index {
        padding-bottom: 10px;
        padding-left: 120px;
        justify-content: center;
    }
}


@media only screen and (min-width: 668px) and (max-width:960px) {

    .titulo-home {
        font-size: 75px;
        padding-left: 100px;
        padding-top: 300px;
        padding-bottom: 0px;
        justify-content: left;
        font-family: $fuente-primaria;
        font-weight: bolder;
        color: beige;
    }

    .subtitulo-home {
        margin-left: 150px;
        margin-right: 10px;
        justify-content: left;
        font-size: 25px;
    }


    .btn-home {
        display: flex;
        justify-content: center;
        padding-right: 30px;
        padding-top: 20px;
        font-family: $fuente-primaria;
        font-weight: bold;
        font-size: 25px;
    }


    .card-recomendados {
        width: 300px;
        height: max-content;
        padding-bottom: 10px;
    }

    iframe {
        width: 200px;
        height: 200px;
    }

    .footer-index {
        justify-content: flex-end;
    }

}

@media only screen and (min-width: 961px) {

    .titulo-home {
        font-size: 50px;
        padding-left: 200px;
        padding-top: 300px;
        padding-bottom: 0px;
        justify-content: left;
        font-family: $fuente-primaria;
        font-weight: bolder;
        color: beige;
    }

    .subtitulo-home {
        margin-left: 500px;
        margin-right: 300px;
        justify-content: center;
    }


    .btn-home {
        display: flex;
        justify-content: right;
        padding-right: 555px;
        padding-top: 20px;
        font-family: $fuente-primaria;
        font-weight: bold;
    }

    .footer-index {
        padding-top: 200px;
    }
}